body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: darkorchid;
  background-image: url(../img/img.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.sign-up-form {
  width: 300px;
  background: #fff;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
}
.sign-up-form {
  color: rgb(117, 64, 14);
  margin-bottom: 30px;
}
.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 95%;
  border: 1px solid #999;
  outline: none;
}

button {
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.sign-btn {
  background-color: #022642;
}
.twitter-btn {
  background-color: #023049;
}

a {
  text-decoration: none;
  color: #031925;
}

hr {
  margin-top: 20px;
  width: 80%;
}
.or {
  background: white;
  width: 30px;
  margin: -19px auto 10px;
}

img {
  width: 75px;
  margin-top: -70px;
}

a:hover,
.twitter-btn:hover,
.sign-btn:hover {
  cursor: pointer;
  color: orange;
  border: solid;
  border-radius: 20px;
  font-size: 15px;
}
